@font-face {
  font-family: 'Octicons Regular';
  src: url("/font/octicons-regular-webfont.eot?v=2#iefix") format("embedded-opentype"), url("/font/octicons-regular-webfont.woff?v=2") format("woff"), url("/font/octicons-regular-webfont.ttf?v=2") format("truetype"), url("/font/octicons-regular-webfont.svg?v=2#newFontRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  padding: 0;
  margin: 0; }

body, p {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px; }

.highlight pre {
  display: none; }

h1 {
  font-size: 40px;
  line-height: 48px;
  margin: 60px 0 20px; }

h2 {
  font-size: 30px;
  line-height: 44px;
  margin: 15px 0 15px; }

h3 {
  font-size: 24px;
  line-height: 40px;
  margin: 30px 0 8px; }

h4 {
  font-size: 20px;
  line-height: 35px;
  margin: 25px 0 7px; }

h5 {
  font-size: 18px;
  line-height: 32px;
  margin: 22px 0 6px; }

h6 {
  font-size: 16px;
  line-height: 23px;
  margin: 20px 0 5px; }

h1, h1 code, h1 a code, h2, h2 code, h2 a code, h3, h3 code, h3 a code, h4, h4 code, h4 a code, h5, h5 code, h5 a code {
  font-weight: bold; }

h6 {
  text-transform: none; }
  h6, h6 code, h6 a code {
    font-weight: 500; }

p {
  margin: 16px 0 12px; }
  p a {
    font-weight: 500; }

ol {
  margin: 0 0 12px 36px; }

hr {
  margin: 30px 0 20px;
  border: 1px solid transparent; }

a {
  outline: none;
  -webkit-transition: 0.3s, ease-out;
  -moz-transition: 0.3s, ease-out;
  -ms-transition: 0.3s, ease-out;
  -o-transition: 0.3s, ease-out;
  transition: 0.3s, ease-out; }
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.2s, ease-out;
    -moz-transition: 0.2s, ease-out;
    -ms-transition: 0.2s, ease-out;
    -o-transition: 0.2s, ease-out;
    transition: 0.2s, ease-out; }
  a, a:hover {
    -webkit-transition-property: color, background-color;
    -moz-transition-property: color, background-color;
    -ms-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color; }

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .container::before, .container::after {
    display: table;
    content: "";
    zoom: 1; }
  .container::after {
    clear: both; }

.hero {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  height: 540px;
  overflow: visible; }
  .hero .fill {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, #374a5c, rgba(17, 33, 50, 0.9) 90%, rgba(24, 48, 73, 0.9));
    background-image: -moz-linear-gradient(top, #374a5c, rgba(17, 33, 50, 0.9) 90%, rgba(24, 48, 73, 0.9));
    background-image: -ms-linear-gradient(top, #374a5c, rgba(17, 33, 50, 0.9) 90%, rgba(24, 48, 73, 0.9));
    background-image: -o-linear-gradient(top, #374a5c, rgba(17, 33, 50, 0.9) 90%, rgba(24, 48, 73, 0.9));
    background-image: linear-gradient(top, #374a5c, rgba(17, 33, 50, 0.9) 90%, rgba(24, 48, 73, 0.9));
    box-shadow: 0 0 20px rgba(16, 32, 48, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
  .hero .brand .logo {
    width: 640px;
    height: 640px;
    margin: 0 auto;
    background-image: url(); }
  .hero .brand .title {
    font-size: 96px;
    text-align: center; }
  .hero .lightstick {
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;
    height: 7px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 80%, rgba(232, 231, 227, 0.2) 95%, rgba(112, 109, 92, 0.24));
    background-image: -moz-linear-gradient(top, rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 80%, rgba(232, 231, 227, 0.2) 95%, rgba(112, 109, 92, 0.24));
    background-image: -ms-linear-gradient(top, rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 80%, rgba(232, 231, 227, 0.2) 95%, rgba(112, 109, 92, 0.24));
    background-image: -o-linear-gradient(top, rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 80%, rgba(232, 231, 227, 0.2) 95%, rgba(112, 109, 92, 0.24));
    background-image: linear-gradient(top, rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 80%, rgba(232, 231, 227, 0.2) 95%, rgba(112, 109, 92, 0.24)); }
  .hero ul.nav li .lightstick {
    position: absolute;
    z-index: 0;
    width: 100%;
    bottom: 0;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -ms-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out; }
  .hero ul.nav li.indicated .lightstick, .hero ul.nav li.active .lightstick {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
  .hero ul.nav li .lightstick, .hero ul.nav li.indicated .lightstick, .hero ul.nav li.active .lightstick {
    -webkit-transition-property: background-color, box-shadow;
    -moz-transition-property: background-color, box-shadow;
    -ms-transition-property: background-color, box-shadow;
    -o-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow; }
  .hero ul.nav li a[href^="/docs"] + .lightstick {
    background: #4d9eb3;
    box-shadow: 0 0 24px rgba(0, 204, 255, 0), 0 0 12px rgba(0, 204, 255, 0), inset 0 0 3px rgba(0, 204, 255, 0); }
  .hero ul.nav li.indicated a[href^="/docs"] + .lightstick {
    background: #4d9eb3;
    box-shadow: 0 0 24px #00ccff, 0 0 12px #00ccff, inset 0 0 3px #20a4c5; }
  .hero ul.nav li.active a[href^="/docs"] + .lightstick {
    background: #4d9eb3;
    box-shadow: 0 0 36px #00ccff, 0 0 24px #00ccff, 0 0 12px #00ccff, inset 0 0 3px #20a4c5; }
  .hero ul.nav li a[href^="/api"] + .lightstick {
    background: #45ba93;
    box-shadow: 0 0 24px rgba(0, 255, 170, 0), 0 0 12px rgba(0, 255, 170, 0), inset 0 0 3px rgba(0, 255, 170, 0); }
  .hero ul.nav li.indicated a[href^="/api"] + .lightstick {
    background: #45ba93;
    box-shadow: 0 0 24px #00ffaa, 0 0 12px #00ffaa, inset 0 0 3px #20c58e; }
  .hero ul.nav li.active a[href^="/api"] + .lightstick {
    background: #45ba93;
    box-shadow: 0 0 36px #00ffaa, 0 0 24px #00ffaa, 0 0 12px #00ffaa, inset 0 0 3px #20c58e; }
  .hero ul.nav li a[href^="/source"] + .lightstick {
    background: #72c23d;
    box-shadow: 0 0 24px rgba(102, 255, 0, 0), 0 0 12px rgba(102, 255, 0, 0), inset 0 0 3px rgba(102, 255, 0, 0); }
  .hero ul.nav li.indicated a[href^="/source"] + .lightstick {
    background: #72c23d;
    box-shadow: 0 0 24px #66ff00, 0 0 12px #66ff00, inset 0 0 3px #62c520; }
  .hero ul.nav li.active a[href^="/source"] + .lightstick {
    background: #72c23d;
    box-shadow: 0 0 36px #66ff00, 0 0 24px #66ff00, 0 0 12px #66ff00, inset 0 0 3px #62c520; }
  .hero ul.nav li a[href^="/tests"] + .lightstick {
    background: #97bf22;
    box-shadow: 0 0 24px rgba(191, 255, 0, 0), 0 0 12px rgba(191, 255, 0, 0), inset 0 0 3px rgba(191, 255, 0, 0); }
  .hero ul.nav li.indicated a[href^="/tests"] + .lightstick {
    background: #97bf22;
    box-shadow: 0 0 24px #bfff00, 0 0 12px #bfff00, inset 0 0 3px #9cc520; }
  .hero ul.nav li.active a[href^="/tests"] + .lightstick {
    background: #97bf22;
    box-shadow: 0 0 36px #bfff00, 0 0 24px #bfff00, 0 0 12px #bfff00, inset 0 0 3px #9cc520; }
  .hero ul.nav li a[href^="/github"] + .lightstick {
    background: #b4af2d;
    box-shadow: 0 0 24px rgba(255, 247, 0, 0), 0 0 12px rgba(255, 247, 0, 0), inset 0 0 3px rgba(255, 247, 0, 0); }
  .hero ul.nav li.indicated a[href^="/github"] + .lightstick {
    background: #b4af2d;
    box-shadow: 0 0 24px #fff700, 0 0 12px #fff700, inset 0 0 3px #c5c020; }
  .hero ul.nav li.active a[href^="/github"] + .lightstick {
    background: #b4af2d;
    box-shadow: 0 0 36px #fff700, 0 0 24px #fff700, 0 0 12px #fff700, inset 0 0 3px #c5c020; }
  .hero.state-stage {
    position: absolute;
    top: 0px;
    -webkit-transition: top, 0.8s, ease-in-out;
    -moz-transition: top, 0.8s, ease-in-out;
    -ms-transition: top, 0.8s, ease-in-out;
    -o-transition: top, 0.8s, ease-in-out;
    transition: top, 0.8s, ease-in-out; }
    .hero.state-stage .brand {
      zoom: 1;
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: -webkit-transform -moz-transform -ms-transform -o-transform transform, 0.8s, ease-in-out;
      -moz-transition: -webkit-transform -moz-transform -ms-transform -o-transform transform, 0.8s, ease-in-out;
      -ms-transition: -webkit-transform -moz-transform -ms-transform -o-transform transform, 0.8s, ease-in-out;
      -o-transition: -webkit-transform -moz-transform -ms-transform -o-transform transform, 0.8s, ease-in-out;
      transition: -webkit-transform -moz-transform -ms-transform -o-transform transform, 0.8s, ease-in-out; }
    .hero.state-stage ul.nav {
      float: none;
      margin: 0 auto; }
  .hero.state-header {
    position: fixed;
    top: -432px;
    -webkit-transition: top, 0.8s, ease-in-out;
    -moz-transition: top, 0.8s, ease-in-out;
    -ms-transition: top, 0.8s, ease-in-out;
    -o-transition: top, 0.8s, ease-in-out;
    transition: top, 0.8s, ease-in-out; }
    .hero.state-header .brand {
      zoom: 0.5;
      margin-left: 0;
      -webkit-transition: zoom, 0.8s, ease-in-out;
      -moz-transition: zoom, 0.8s, ease-in-out;
      -ms-transition: zoom, 0.8s, ease-in-out;
      -o-transition: zoom, 0.8s, ease-in-out;
      transition: zoom, 0.8s, ease-in-out; }
    .hero.state-header ul.nav {
      float: right; }

body.theme-light, body.theme-light p {
  background-color: #f0f0f0;
  color: #616161; }
body.theme-light strong {
  color: #4e4e4e; }
body.theme-light a, body.theme-light a strong, body.theme-light a code {
  color: #295989; }
body.theme-light a:hover {
  color: #002142; }
body.theme-light h1, body.theme-light h2, body.theme-light h3, body.theme-light h4, body.theme-light h5 {
  color: #494949; }
  body.theme-light h1, body.theme-light h1 code, body.theme-light h1 a code, body.theme-light h2, body.theme-light h2 code, body.theme-light h2 a code, body.theme-light h3, body.theme-light h3 code, body.theme-light h3 a code, body.theme-light h4, body.theme-light h4 code, body.theme-light h4 a code, body.theme-light h5, body.theme-light h5 code, body.theme-light h5 a code {
    font-weight: bold; }
body.theme-light h6 {
  color: #616161; }
body.theme-light h1 > a, body.theme-light h2 > a, body.theme-light h3 > a, body.theme-light h4 > a, body.theme-light h5 > a, body.theme-light h6 > a {
  color: #435465; }
  body.theme-light h1 > a:hover, body.theme-light h2 > a:hover, body.theme-light h3 > a:hover, body.theme-light h4 > a:hover, body.theme-light h5 > a:hover, body.theme-light h6 > a:hover {
    color: #223344; }
body.theme-light hr {
  border-top-color: #e6e6e6;
  border-bottom-color: #fbfbfb;
  box-shadow: 0 -16px 32px #e4e4e4, 0 -8px 16px #e4e4e4, 0 -4px 8px #e4e4e4, 0 -1px 2px #e4e4e4, 0 10px 20px #f6f6f6, 0 4px 8px #f6f6f6, 0 1px 2px #f6f6f6; }
body.theme-dark, body.theme-dark p {
  background-color: #191f24;
  color: #adaca9; }
body.theme-dark strong {
  color: #bdbcba; }
body.theme-dark a, body.theme-dark a strong, body.theme-dark a code {
  color: #e2dcc5; }
body.theme-dark a:hover {
  color: #f7f0d4; }
body.theme-dark h1, body.theme-dark h2, body.theme-dark h3, body.theme-dark h4, body.theme-dark h5 {
  color: #83827e; }
  body.theme-dark h1, body.theme-dark h1 code, body.theme-dark h1 a code, body.theme-dark h2, body.theme-dark h2 code, body.theme-dark h2 a code, body.theme-dark h3, body.theme-dark h3 code, body.theme-dark h3 a code, body.theme-dark h4, body.theme-dark h4 code, body.theme-dark h4 a code, body.theme-dark h5, body.theme-dark h5 code, body.theme-dark h5 a code {
    font-weight: bold; }
body.theme-dark h6 {
  color: #adaca9; }
body.theme-dark h1 > a, body.theme-dark h2 > a, body.theme-dark h3 > a, body.theme-dark h4 > a, body.theme-dark h5 > a, body.theme-dark h6 > a {
  color: #cac6b4; }
  body.theme-dark h1 > a:hover, body.theme-dark h2 > a:hover, body.theme-dark h3 > a:hover, body.theme-dark h4 > a:hover, body.theme-dark h5 > a:hover, body.theme-dark h6 > a:hover {
    color: #dedac9; }
body.theme-dark hr {
  border-top-color: #181d22;
  border-bottom-color: #bdc7d0;
  box-shadow: 0 -16px 32px #181d22, 0 -8px 16px #181d22, 0 -4px 8px #181d22, 0 -1px 2px #181d22, 0 10px 20px #64788d, 0 4px 8px #64788d, 0 1px 2px #64788d; }
