@font-face {
  font-family: 'Octicons Regular';

  src: url("/font/octicons-regular-webfont.eot")
       format("embedded-opentype"),

       url("/font/octicons-regular-webfont.woff")
       format("woff"),

       url("/font/octicons-regular-webfont.ttf")
       format("truetype"),

       url("/font/octicons-regular-webfont.svg")
       format("svg");

  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f1f1f1;
  background-image: url(/img/dust_f1c.png);
}
body,
p {
  font-size: 16px;
  line-height: 23px;
  color: #606060;
}

.svg-template {
  display: none;
}

.highlight pre {
  display: none;
}

h1 {
  margin: 1em 0 0.5em;
  font-size: 40px;
  line-height: 44px;
}
h2 {
  margin: 0.5em 0;
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
  text-transform: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  color: #484848;
}

h3,
h4,
h5,
h6 {
  margin: 1.25em 0 0.33em;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 a, h1 code, h1 a code,
h2 a, h2 code, h2 a code,
h3 a, h3 code, h3 a code,
h4 a, h4 code, h4 a code,
h5 a, h5 code, h5 a code,
h6 a, h6 code, h6 a code {
  font-weight: inherit;
}

p {
  margin-bottom: 12px;
  margin: 1em 0;
}
ol {
  margin: 0 0 12px 36px;
}
hr {
  margin: 30px 0 20px;
  border: 1px solid transparent;
  border-top-color: #e7e7e7;
  border-bottom-color: #fbfbfb;
  box-shadow: 0 -16px 32px rgba(0,0,0,0.05),
              0  -8px 16px rgba(0,0,0,0.05),
              0  -4px  8px rgba(0,0,0,0.05),
              0  -1px  2px rgba(0,0,0,0.05),
              0  10px 20px rgba(255,255,255,0.4),
              0   4px  8px rgba(255,255,255,0.4),
              0   1px  2px rgba(255,255,255,0.3);
}

strong {
  color: #555;
}
a strong {
  color: inherit;
}

a {
  color: #295888;
  outline: none;
  -webkit-transition: 0.3s ease-out;
     -moz-transition: 0.3s ease-out;
       -o-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
  -webkit-transition-property: color, background-color;
     -moz-transition-property: color, background-color;
       -o-transition-property: color, background-color;
          transition-property: color, background-color;
}
a:hover {
  color: #002245;
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
     -moz-transition: 0.2s ease-out;
       -o-transition: 0.2s ease-out;
          transition: 0.2s ease-out;
  -webkit-transition-property: color, background-color;
     -moz-transition-property: color, background-color;
       -o-transition-property: color, background-color;
          transition-property: color, background-color;
}
a code {
  color: inherit;
  font-weight: inherit;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: #456;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: #234;
}
p a {
  font-weight: 500;
}

pre, tt, code {
  font-family: Menlo, Consolas, Courier, monospace;
  background-color: transparent;
}
pre {
  padding: 0.87em 0.87em 0.7em;
  margin: 0.75em 0;
  font-size: 13px;
  line-height: 18px;
  background: rgba(128, 128, 128, 0.07);
  border: 1px solid rgba(128, 128, 128, 0.15);
  border-radius: 4px;
}
code {
  padding: 1px 3px;
  margin: 0 -1px;
  background: rgba(128, 128, 128, 0.07);
  border: 1px solid rgba(128, 128, 128, 0.05);
  font-size: 95%;
}
pre code {
  padding: 0;
  background: transparent;
  border: none;
  font-size: inherit;
}
li {
  line-height: 23px;
  margin: 0.25em 0;
}
blockquote {
  line-height: inherit;
  border-left: 8px solid rgba(128, 128, 128, 0.1);
  padding: 1px 0 1px 15px;
}
blockquote p {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  color: #808080;
  margin: 0.5em 0;
}
blockquote ol {
  margin-left: 24px;
}

.topbar {
  position: fixed;
  height: 108px;
  box-shadow:       0 0 20px rgba(16, 32, 48, 0.5),
              inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
  .topbar .fill {
    height: 101px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:    -moz-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:     -ms-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:      -o-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:         linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
  }
  .topbar .fill .bg {
    position: absolute;
    width: 100%;
    height: 101px;
    background-image: url(/img/grid_white.png);
    background-position: bottom center;
    opacity: 0.5;
  }
  .topbar .fill .fg {
    position: absolute;
    width: 100%;
  }
  .topbar .edge {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: rgba(188, 192, 196, 0.8);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .topbar .lightstick {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:      -o-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:         linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 7px;
    bottom: 0;
  }
  .topbar .brand {
    max-height: 64px;
    font-size: 48px;
    font-weight: 500;
    padding: 48px 20px 12px;
    /*padding: 48px 20px 12px 72px;*/
    margin-left: 0;
    letter-spacing: -2px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);
    /*background: url(/img/dodecagem-120px.png) 12px 45px no-repeat;*/
    /*background-size: 60px;*/
  }
  .topbar .brand .tail {
    font-weight: 300;
    padding-left: 0.1em;
    opacity: 0.2;
  }
  .topbar .subtitle {
    padding: 0 0.5em;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
  }
  .topbar ul.nav {
    float: right;
  }
  .topbar ul {
    font-size: 24px;
  }
  .topbar ul li {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .topbar .brand:hover,
  .topbar ul li a {
    -webkit-transition: 0.2s ease-out;
       -moz-transition: 0.2s ease-out;
         -o-transition: 0.2s ease-out;
            transition: 0.2s ease-out;
    -webkit-transition-property: color, background-color;
       -moz-transition-property: color, background-color;
         -o-transition-property: color, background-color;
            transition-property: color, background-color;
  }
  .topbar ul li a {
    max-height: 24px;
    font-size: 20px;
    line-height: 24px;
    padding: 72px 12px 12px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .topbar ul li.active a {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:         linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    color: rgba(255, 255, 255, 0.9);
  }
  .topbar .brand:hover,
  .topbar ul li a:hover {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
  }

  .topbar ul li a[href^="/blog"] {
    border-color: hsl(216, 30%, 42%);
  }
  .topbar ul li a[href^="/docs"] {
    border-color: hsl(192, 30%, 42%);
  }
  .topbar ul li a[href^="/api"] {
    border-color: hsl(160, 36%, 41%);
  }
  .topbar ul li a[href^="/source"] {
    border-color: hsl(96, 45%, 40%);
  }
  .topbar ul li a[href^="/tests"] {
    border-color: hsl(75, 66%, 34%);
  }

  .topbar ul li .lightstick {
    position: absolute;
    z-index: 0;
    width: 100%;
    bottom: 0;
    -webkit-transition: 0.8s ease-out;
       -moz-transition: 0.8s ease-out;
         -o-transition: 0.8s ease-out;
            transition: 0.8s ease-out;
  }
  .topbar ul li.indicated .lightstick,
  .topbar ul li.active    .lightstick {
    -webkit-transition: 0.2s ease-out;
       -moz-transition: 0.2s ease-out;
         -o-transition: 0.2s ease-out;
            transition: 0.2s ease-out;
  }
  .topbar ul li           .lightstick,
  .topbar ul li.indicated .lightstick,
  .topbar ul li.active    .lightstick {
    -webkit-transition-property: background-color, box-shadow;
       -moz-transition-property: background-color, box-shadow;
         -o-transition-property: background-color, box-shadow;
            transition-property: background-color, box-shadow;
  }
  .topbar ul li.indicated .lightstick {
    z-index: 1;
  }
  .topbar ul li.active .lightstick {
    z-index: 2;
  }
  .topbar ul li a + .lightstick {
    background:                hsla(  0,   0%, 50%, 0.6);
    box-shadow:       0 0 24px hsla(  0, 100%, 50%, 0),
                      0 0 12px hsla(  0, 100%, 50%, 0),
                inset 0 0  3px hsla(  0, 100%, 50%, 0);
  }
  .topbar ul li.indicated a + .lightstick {
    background:                hsla(  0,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(  0, 100%, 50%, 0.6),
                      0 0 12px hsla(  0, 100%, 50%, 0.8),
                inset 0 0  3px hsla(  0,  72%, 45%, 0.8);
  }
  .topbar ul li.active a + .lightstick {
    background:                hsla(  0, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(  0, 100%, 50%, 1),
                      0 0 24px hsla(  0, 100%, 50%, 1),
                      0 0 12px hsla(  0, 100%, 50%, 1),
                inset 0 0  3px hsla(  0, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/blog"] + .lightstick {
    background:                hsla(216,  46%, 48%, 0.6);
    box-shadow:       0 0 24px hsla(216, 100%, 50%, 0),
                      0 0 12px hsla(216, 100%, 50%, 0),
                inset 0 0  3px hsla(216, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/blog"] + .lightstick {
    background:                hsla(208, 100%, 80%, 0.97);
    box-shadow:       0 0 32px hsla(216, 100%, 63%, 0.7),
                      0 0 16px hsla(208, 100%, 55%, 0.9),
                inset 0 0  3px hsla(216,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/blog"] + .lightstick {
    background:                hsla(224, 100%, 97%, 0.98);
    box-shadow:       0 0 48px hsla(224, 100%, 80%, 1),
                      0 0 36px hsla(216, 100%, 70%, 1),
                      0 0 24px hsla(208, 100%, 60%, 1),
                      0 0 12px hsla(200, 100%, 50%, 1),
                inset 0 0  2px hsla(224, 100%, 50%, 0.5),
                inset 0 0  5px hsla(200, 100%, 50%, 0.5);
  }
  .topbar ul li a[href^="/docs"] + .lightstick {
    background:                hsla(192,  60%, 40%, 0.6);
    box-shadow:       0 0 24px hsla(192, 100%, 50%, 0),
                      0 0 12px hsla(192, 100%, 50%, 0),
                inset 0 0  3px hsla(192, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/docs"] + .lightstick {
    background:                hsla(192, 100%, 70%, 0.97);
    box-shadow:       0 0 24px hsla(192, 100%, 50%, 0.6),
                      0 0 12px hsla(192, 100%, 50%, 0.8),
                inset 0 0  3px hsla(192,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/docs"] + .lightstick {
    background:                hsla(192, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(192, 100%, 50%, 1),
                      0 0 24px hsla(192, 100%, 50%, 1),
                      0 0 12px hsla(192, 100%, 50%, 1),
                inset 0 0  3px hsla(192, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/api"] + .lightstick {
    background:                hsla(160,  66%, 40%, 0.6);
    box-shadow:       0 0 24px hsla(160, 100%, 50%, 0),
                      0 0 12px hsla(160, 100%, 50%, 0),
                inset 0 0  3px hsla(160, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/api"] + .lightstick {
    background:                hsla(160,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(160, 100%, 50%, 0.6),
                      0 0 12px hsla(160, 100%, 50%, 0.8),
                inset 0 0  3px hsla(160,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/api"] + .lightstick {
    background:                hsla(160, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(160, 100%, 50%, 1),
                      0 0 24px hsla(160, 100%, 50%, 1),
                      0 0 12px hsla(160, 100%, 50%, 1),
                inset 0 0  3px hsla(160, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/source"] + .lightstick {
    background:                hsla(96,  72%, 40%, 0.6);
    box-shadow:       0 0 24px hsla(96, 100%, 50%, 0),
                      0 0 12px hsla(96, 100%, 50%, 0),
                inset 0 0  3px hsla(96, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/source"] + .lightstick {
    background:                hsla(96,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(96, 100%, 50%, 0.6),
                      0 0 12px hsla(96, 100%, 50%, 0.8),
                inset 0 0  3px hsla(96,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/source"] + .lightstick {
    background:                hsla(96, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(96, 100%, 50%, 1),
                      0 0 24px hsla(96, 100%, 50%, 1),
                      0 0 12px hsla(96, 100%, 50%, 1),
                inset 0 0  3px hsla(96, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/tests"] + .lightstick {
    background:                hsla(75,  90%, 34%, 0.6);
    box-shadow:       0 0 24px hsla(75, 100%, 50%, 0),
                      0 0 12px hsla(75, 100%, 50%, 0),
                inset 0 0  3px hsla(75, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/tests"] + .lightstick {
    background:                hsla(75,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(75, 100%, 50%, 0.6),
                      0 0 12px hsla(75, 100%, 50%, 0.8),
                inset 0 0  3px hsla(75,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/tests"] + .lightstick {
    background:                hsla(75, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(75, 100%, 50%, 1),
                      0 0 24px hsla(75, 100%, 50%, 1),
                      0 0 12px hsla(75, 100%, 50%, 1),
                inset 0 0  3px hsla(75, 100%, 50%, 1);
  }
  .topbar ul li a[href*="://github.com/"] + .lightstick {
    background:                hsla(58,  80%, 34%, 0.6);
    box-shadow:       0 0 24px hsla(58, 100%, 50%, 0),
                      0 0 12px hsla(58, 100%, 50%, 0),
                inset 0 0  3px hsla(58, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href*="://github.com/"] + .lightstick {
    background:                hsla(58,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(58, 100%, 50%, 0.6),
                      0 0 12px hsla(58, 100%, 50%, 0.8),
                inset 0 0  3px hsla(58,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href*="://github.com/"] + .lightstick {
    background:                hsla(58, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(58, 100%, 50%, 1),
                      0 0 24px hsla(58, 100%, 50%, 1),
                      0 0 12px hsla(58, 100%, 50%, 1),
                inset 0 0  3px hsla(58, 100%, 50%, 1);
  }

  .topbar ul li a[href*="://github.com/"] {
    width: 40px;
  }
  .topbar ul li a[href*="://github.com/"] span {
    position: relative;
    font-family: 'Octicons Regular';
  }
  .topbar ul li a[href*="://github.com/"] span.invertocat {
    left: 8px;
    top: -3px;
    font-size: 24px;
  }
  .topbar ul li a[href*="://github.com/"] span.external-link {
    top: -22px;
    left: 2px;
    font-size: 10px;
    opacity: 0.5;
  }

.content {
  padding-top: 108px;
}
  .content .markdown-body {
    position: relative;
    width: 620px;
    left: 300px;
  }

  .content a.download {
    padding: 0.5em 1em 0.6em;
    margin-right: 1px;
    line-height: 3;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    border-bottom: 1px solid hsla(210, 30%, 42%, 0.35);
    border-radius: 1.5em 0 0 1.5em;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    font-size: 21px;
    font-weight: normal;
    color: hsl(210, 30%, 42%);
    background-image: -webkit-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:         linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(210, 13%, 57%, 0.3);
  }
  .content a.download[href$="min.js"] {
    border-radius: 0 1.5em 1.5em 0;
  }
  .content a.download[href^="/omicron"] {
    font-size: 14px;
  }
  .content a.download:hover {
    color: hsl(210, 58%, 32%);
  }

  .content a[href^="/blog"],
  .content a[href^="/docs"],
  .content a[href^="/api"],
  .content a[href^="/source"],
  .content a[href^="/tests"],
  .content a[href*="://github.com/"] {
    padding: 0.05em  0.2em;
    margin: -0.05em -0.2em;
    border-radius: 0.25em;
  }
  .content blockquote a[href^="/blog"],
  .content blockquote a[href^="/docs"],
  .content blockquote a[href^="/api"],
  .content blockquote a[href^="/source"],
  .content blockquote a[href^="/tests"],
  .content blockquote a[href*="://github.com/"] {
    padding: 1px 10px 3px;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    border-bottom: 1px solid;
    border-radius: 14px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1), 0 1px 5px rgba(0,0,0,0.07);
    font-weight: 500;
    line-height: 1.67;
  }

  .content a[href^="/blog"] {
    color:             hsl(216, 30%, 42%);
    background-color: hsla(216, 30%, 42%, 0.01);
  }
  .content a[href^="/blog"]:hover {
    color:             hsl(216, 58%, 32%);
    background-color: hsla(216, 58%, 32%, 0.06);
  }
  .content blockquote a[href^="/blog"] {
    border-bottom-color: hsla(216, 30%, 42%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:         linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(216, 13%, 57%, 0.3);
  }

  .content a[href^="/docs"] {
    color:             hsl(192, 30%, 42%);
    background-color: hsla(192, 30%, 42%, 0.01);
  }
  .content a[href^="/docs"]:hover {
    color:             hsl(192, 58%, 32%);
    background-color: hsla(192, 58%, 32%, 0.06);
  }
  .content blockquote a[href^="/docs"] {
    border-bottom-color: hsla(192, 30%, 42%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:         linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(192, 13%, 57%, 0.3);
  }

  .content a[href^="/api"] {
    color:             hsl(160, 36%, 41%);
    background-color: hsla(160, 36%, 41%, 0.01);
  }
  .content a[href^="/api"]:hover {
    color:             hsl(160, 60%, 31%);
    background-color: hsla(160, 60%, 31%, 0.06);
  }
  .content blockquote a[href^="/api"] {
    border-bottom-color: hsla(160, 36%, 41%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:      -o-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:         linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(160, 15%, 57%, 0.3);
  }

  .content a[href^="/source"] {
    color:             hsl(96, 45%, 40%);
    background-color: hsla(96, 45%, 40%, 0.01);
  }
  .content a[href^="/source"]:hover {
    color:             hsl(96, 60%, 30%);
    background-color: hsla(96, 60%, 30%, 0.06);
  }
  .content blockquote a[href^="/source"] {
    border-bottom-color: hsla(96, 45%, 40%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:      -o-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:         linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(96, 23%, 57%, 0.3);
  }

  .content a[href^="/tests"] {
    color:             hsl(75, 66%, 34%);
    background-color: hsla(75, 66%, 31%, 0.01);
  }
  .content a[href^="/tests"]:hover {
    color:             hsl(75, 66%, 26%);
    background-color: hsla(75, 66%, 26%, 0.06);
  }
  .content blockquote a[href^="/tests"] {
    border-bottom-color: hsla(75, 66%, 34%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:         linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(75, 13%, 57%, 0.3);
  }

  .content a[href*="://github.com/"] {
    color:             hsl(58, 66%, 28%);
    background-color: hsla(58, 66%, 25%, 0.01);
  }
  .content a[href*="://github.com/"]:hover {
    color:             hsl(58, 66%, 20%);
    background-color: hsla(58, 66%, 20%, 0.06);
  }
  .content blockquote a[href*="://github.com/"] {
    border-bottom-color: hsla(75, 66%, 34%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:         linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(58, 13%, 57%, 0.3);
  }

  .content a[href^="/blog"] code,
  .content a[href^="/docs"] code,
  .content a[href^="/api"] code,
  .content a[href^="/source"] code,
  .content a[href^="/tests"] code,
  .content a[href*="://github.com/"] code {
    background: transparent;
    border: none;
    font-weight: bold;
    white-space: nowrap;
  }

.toc {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 108px;
  bottom: 36px;
  width: 280px;
  padding-top: 20px;
  padding-left: 1000px;
  margin-left: -1000px;
  background-color: #f1f1f1;
  background-image: url(/img/dust_f1c.png);
  border-bottom: 1px solid #eee;
}
  .toc .bg,
  .toc .fg {
    position: absolute;
  }
  .toc .bg {
    z-index: 0;
  }
    .toc .bg .viewport {
      position: absolute;
      display: none;
      width: 266px;
      border: 1px solid rgba(0, 128, 255, 0.07);
      background-color: rgba(0, 128, 255, 0.07);
    }
  .toc .fg {
    z-index: 1;
  }

  .toc .fg ul {
    list-style-type: none;
  }
  .toc .fg ul li {
    line-height: 1.33
  }
  .toc .fg > ul ul {
    font-size: 95%;
    margin-left: 1em;
  }
  .toc .fg > ul ul a {
    font-size: 90%;
  }
  .toc .fg > ul > ul ul {
    font-size: 90%;
    margin: 0 0 0.5em 1em;
  }
  .toc .fg > ul > li {
    margin: 0 0 0.5em;
  }
  .toc .fg ul li a {
    color: #00438A;
  }
  .toc .fg ul li a:hover {
    color: #002245;
  }
  .toc::-webkit-scrollbar {
    width: 11px;
    height: 11px;
    opacity: 0;
  }
  .toc::-webkit-scrollbar-thumb {
    background-color: rgba( 0,0,0, 0.02 );
    border: 3px solid #f1f1f1;
    border-radius: 6px;
  }
  .toc::-webkit-scrollbar-track-piece {
    width: 7px;
    height: 7px;
    margin: 5px;
  }
  .toc:hover::-webkit-scrollbar-thumb {
    background-color: rgba( 0,0,0, 0.1 );
  }

.controls {
  position: fixed;
  bottom: 0;
  width: 280px;
  height: 36px;
  background-color: #f1f1f1;
}
.controls.overlaid {
  box-shadow: -20px -10px 20px #f1f1f1;
  border-top: 1px solid #eee;
}
  .controls ul {
    margin: 0;
    list-style-type: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-out;
       -moz-transition: opacity 0.2s ease-out;
         -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
  }
  .controls:hover ul {
    opacity: 1.0;
  }
  .controls ul li {
    float: left;
    padding: 0;
    margin: 0;
  }
  .controls ul li a {
    float: left;
    margin: 6px;
    width: 24px;
    height: 24px;
    background-size: contain;
    opacity: 0.13;
    -webkit-transition: opacity 0.2s ease-out;
       -moz-transition: opacity 0.2s ease-out;
         -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
  }
  .controls ul li a:hover {
    opacity: 0.9;
  }
  .controls ul li.active a {
    opacity: 0.75;
  }
  .controls ul li.active a:hover {
    opacity: 1.0;
  }
  .controls ul li.javascript a {
    background-image: url(/img/javascript-logo.png);
  }
  .controls ul li.coffeescript a {
    background-image: url(/img/coffeescript-logo.png);
  }

.tags {
  margin-bottom: 1em;
  font-size: 13px;
}
.tags .tag {
  padding: 2px 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 12px;
  background: rgba(128, 128, 128, 0.25);
  font-weight: bold;
  color: rgba(64, 128, 192, 0.9);
}

.abstract {
  margin: 40px 0 1em;
}
.abstract p {
  font-size: 125%;
  line-height: 1.33;
}
.abstract pre {
  font-size: inherit;
  line-height: inherit;
}

.backcrumb {
  padding: 8px 16px;
  margin: 1em 0 4em;
  border: 1px solid transparent;
  border-radius: 0 0 16px 16px;
  background: rgba(128, 128, 128, 0.25);
}
.backcrumb > a.section {
  font-weight: bold;
}

.local-toc {
  border-radius: 16px;
  background: rgba(128, 128, 128, 0.15);
}
  .local-toc ul {
    padding: 1em 2em 1em 3em;
    margin: 0;
  }
    .local-toc ul li {
      font-weight: bold;
    }

footer {
  float: right;
  width: 640px;
  height: 36px;
  padding: 0;
  margin-top: 120px;
  font-size: 12px;
}
  footer ul {
    float: right;
    margin: 0;
    padding: 0 12px;
  }
  footer ul li {
    display: block;
    float: left;
    padding: 7px;
    margin: 0;
  }



/* sprites.less reset */
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}
li[class^="icon-"], li[class*=" icon-"] {
    display: block;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    -webkit-font-smoothing:antialiased;
    -moz-transition:color .15s ease-in 0;
    -webkit-transition:color .15s ease-in 0;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
    vertical-align: top;
    font-size: 1.3333333333333333em;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    /* keeps button heights with and without icons the same */
    line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
    /* 1.5 increased font size for icon-large * 1.25 width */
    width: 1.875em;
}


li[class^="icon-"], li[class*=" icon-"] {
    margin-left: 0;
    list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
    text-indent: -2em;
    text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
    text-indent: -1.3333333333333333em;
}

.icon-octocat:before               { content: "\f208"; }
.icon-site-message:before, .icon-blacktocat:before          { content: "\f209"; }
.icon-invertocat:before                 { content: "\f20a"; }
.icon-download:before            { content: "\f20b"; }
.icon-arr-collapsed:before          { content: "\f25a"; }
.icon-arr-expanded:before         { content: "\f25b"; }
.icon-link:before      { content: "\f25c"; }
.icon-jump-up:before           { content: "\f273"; }
.icon-chevron:before           { content: "\f278"; }
.icon-external-link:before           { content: "\f27f"; }
.icon-x:before      { content: "\f281"; }



#index .markdown-body {
  left: 160px;
  width: 640px;
}
#index .logo {
  width: 640px;
  height: 640px;
  margin: -120px auto -160px;
  background-image: url(/img/dodecagem-glow-640px.png);
  background-size: contain;
}
#index p {
  font-size: 20px;
  line-height: 27px;
}
#index pre {
  padding: 0.5em 0em 3em 30px;
  background: transparent;
  border: none;
  font-size: 13px;
  line-height: 19px;
}


#blog-index .markdown-body {
  left: 160px;
  width: 640px;
}
#blog-index .preview {
  padding: 20px 0;
}
#blog-index .preview.first {
  
}
#blog-index h2,
#blog-index h3 {
  font-weight: 500;
}
#blog-index .date {
  font-size: 12px;
}

#blog-post {
}
#blog-post .toc {
  top: 120px;
}
#blog-post h1 {
  font-weight: 300;
}
#blog-post h2 {
  margin-top: 40px;
  font-weight: normal;
}
#blog-post pre {
  padding-left: 30px;
  padding-right: 0;
  background: transparent;
  border: none;
}
#blog-post .lede p {
  font-size: 125%;
  line-height: 1.33;
}


#source .text {
  width: 360px;
  min-height: 1px;
}
#source .text p {
  font-size: 14px;
  line-height: 20px;
}
#source .text a code {
  font-weight: bold;
}
#source .text h3,
#source .text h4,
#source .text h5,
#source .text h6 {
  margin: 0 0 0.25em;
}
#source .text h3 {
  font-size: 21px;
}
#source .text h3 code {
  font-size: 90%;
}
#source .text h4 {
  font-size: 18px
}
#source .text h5,
#source .text h6 {
}

#source .code {
  width: 560px;
}
#source .code pre {
  padding: 12px 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  background: transparent;
  border: none;
  border-radius: 0;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 
  #index .logo {
    background-image: url(/img/dodecagem-glow-1280px.png);
  }
}
