@font-face {
  font-family: 'Octicons Regular';

  src: url("/font/octicons-regular-webfont.eot")
       format("embedded-opentype"),

       url("/font/octicons-regular-webfont.woff")
       format("woff"),

       url("/font/octicons-regular-webfont.ttf")
       format("truetype"),

       url("/font/octicons-regular-webfont.svg")
       format("svg");

  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite,
code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption,
tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
q::before, q::after, blockquote::before, blockquote::after {
  content: "";
}

html, body {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: #f1f1f1;
  background-image: url(/img/dust_f1c.png);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
body,
p {
  font-size: 16px;
  line-height: 23px;
  color: #555;
}

.container {
  zoom: 1;
  width: 940px;
  margin: 0 auto;
}
  .container::before,
  .container::after {
    display: table;
    content: "";
    zoom: 1;
  }
  .container::after {
    clear: both;
  }


.row {
  zoom: 1;
  margin-left: -20px;
}
.row:before, .row:after {
  display: table;
  content: "";
  zoom: 1;
}
.row:after {
  clear: both;
}
.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}

.svg-template {
  display: none;
}

.highlight pre {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #444;
}

h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.67em;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  margin: 1em 0 0.5em;
  font-size: 40px;
  line-height: 44px;
}
h2 {
  margin: 0.5em 0;
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
  font-weight: 300;
  background: rgba( 0, 0, 0, 0.03 );
  margin-left: -6px;
  margin-top: 1em;
  padding: 0 6px;
}

h1 a, h1 code, h1 a code,
h2 a, h2 code, h2 a code,
h3 a, h3 code, h3 a code,
h4 a, h4 code, h4 a code,
h5 a, h5 code, h5 a code,
h6 a, h6 code, h6 a code {
  font-weight: inherit;
}

p {
  margin-bottom: 12px;
  margin: 1em 0;
  word-spacing: 1px;
}

ul, ol {
  margin: 0 0 18px 25px;
}
ul {
  list-style: disc;
}
ol {
  margin: 0 0 12px 36px;
}
ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

hr {
  visibility: hidden;
  margin: 30px 0 20px;
  border: 1px solid transparent;
  border-top-color: #e7e7e7;
  border-bottom-color: #fbfbfb;
  box-shadow: 0 -16px 32px rgba(0,0,0,0.05),
              0  -8px 16px rgba(0,0,0,0.05),
              0  -4px  8px rgba(0,0,0,0.05),
              0  -1px  2px rgba(0,0,0,0.05),
              0  10px 20px rgba(255,255,255,0.4),
              0   4px  8px rgba(255,255,255,0.4),
              0   1px  2px rgba(255,255,255,0.3);
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #4b4b4b;
}
a strong {
  color: inherit;
}
.weak {
  font-weight: 300;
}

a {
  color: #295888;
  font-weight: inherit;
  text-decoration: none;
  line-height: inherit;
  outline: none;
  -webkit-transition: 0.3s ease-out;
     -moz-transition: 0.3s ease-out;
       -o-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
  -webkit-transition-property: color, background-color;
     -moz-transition-property: color, background-color;
       -o-transition-property: color, background-color;
          transition-property: color, background-color;
}
a:hover {
  color: #002245;
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
     -moz-transition: 0.2s ease-out;
       -o-transition: 0.2s ease-out;
          transition: 0.2s ease-out;
  -webkit-transition-property: color, background-color;
     -moz-transition-property: color, background-color;
       -o-transition-property: color, background-color;
          transition-property: color, background-color;
}
a code {
  color: inherit;
  font-weight: inherit;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: #456;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: #234;
}
p a {
  font-weight: 500;
}

pre, tt, code {
  font-family: Menlo, Consolas, Courier, monospace;
  background-color: transparent;
}
pre {
  padding: 0.87em 0 0.7em 1.75em;
  margin: 0.75em 0;
  font-size: 13px;
  line-height: 18px;
}
code {
  padding: 1px 3px;
  margin: 0 -1px;
  background: rgba(128, 128, 128, 0.07);
  border: 1px solid rgba(128, 128, 128, 0.05);
  border-radius: 3px;
  font-size: 95%;
  color: #333;
}
pre code {
  padding: 0;
  background: transparent;
  border: none;
  font-size: inherit;
}
li {
  line-height: 23px;
  margin: 0.25em 0;
  color: #666;
}
blockquote {
  line-height: inherit;
  border-left: 8px solid rgba(128, 128, 128, 0.1);
  padding: 1px 0 1px 15px;
  margin-bottom: 18px;
  opacity: 0.8;
  -webkit-transition: opacity 0.6s ease-out;
     -moz-transition: opacity 0.6s ease-out;
       -o-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
}
blockquote:hover {
  opacity: 1;
}
blockquote p {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  margin: 0.5em 0;
}
blockquote ol {
  margin-left: 24px;
}

.topbar {
  position: fixed;
  z-index: 10000;
  overflow: visible;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: top 0.4s ease-out;
  height: 108px;
  box-shadow:       0 0 20px rgba(16, 32, 48, 0.5),
              inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.topbar.touch-hidden {
  top: -102px;
  -webkit-transition: top 0.2s ease-in;
}
  .topbar .fill {
    height: 101px;
    background-color: transparent;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:    -moz-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:     -ms-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:      -o-linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    background-image:         linear-gradient(top, hsl(210,25%,29%), hsla(210,50%,13%,0.9)90%, hsla(210,50%,19%,0.9));
    box-shadow: 0  1px 3px hsla(0, 0%, 0%, 0.25),
          inset 0 -1px 0   hsla(0, 0%, 0%, 0.10);
  }
  .topbar .fill .bg {
    position: absolute;
    width: 100%;
    height: 101px;
    background-image: url(/img/grid_white.png);
    background-position: bottom center;
    opacity: 0.5;
  }
  .topbar .fill .fg {
    position: absolute;
    width: 100%;
  }
  .topbar .edge {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: rgba(188, 192, 196, 0.8);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .topbar .lightstick {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:      -o-linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    background-image:         linear-gradient(top, hsla(0,0%,10%,0.4), hsla(0,0%,100%,0.4)20%, hsla(0,0%,100%,0.4)30%, hsla(0,0%,100%,0.0)80%, hsla(50,10%,90%,0.2)95%, hsla(50,10%,40%,0.24));
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 7px;
    bottom: 0;
  }
  .topbar .brand {
    display: block;
    float: left;
    max-height: 64px;
    font-size: 48px;
    font-weight: 500;
    padding: 48px 20px 12px;
    /*padding: 48px 20px 12px 72px;*/
    margin-left: 0;
    color: #fff;
    line-height: 1;
    letter-spacing: -2px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);
    /*background: url(/img/dodecagem-120px.png) 12px 45px no-repeat;*/
    /*background-size: 60px;*/
  }
  .topbar .brand .tail {
    font-weight: 300;
    padding-left: 0.1em;
    opacity: 0.2;
  }
  .topbar .subtitle {
    padding: 0 0.5em;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
  }
  .topbar a {
  }
  .topbar ul.nav {
    display: block;
    float: right;
    left: 0;
    margin: 0 10px 0 0;
  }
  .topbar ul {
    font-size: 24px;
  }
  .topbar ul li {
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
  }
  .topbar .brand:hover,
  .topbar ul li a {
    -webkit-transition: 0.2s ease-out;
       -moz-transition: 0.2s ease-out;
         -o-transition: 0.2s ease-out;
            transition: 0.2s ease-out;
    -webkit-transition-property: color, background-color;
       -moz-transition-property: color, background-color;
         -o-transition-property: color, background-color;
            transition-property: color, background-color;
  }
  .topbar ul li a {
    display: block;
    float: none;
    max-height: 24px;
    font-size: 20px;
    line-height: 24px;
    padding: 72px 12px 12px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .topbar ul li.active a {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    background-image:         linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2) 71%, rgba(0,0,0,0.4));
    color: rgba(255, 255, 255, 0.9);
  }
  .topbar .brand:hover,
  .topbar ul li a:hover {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
  }

  .topbar ul li a[href^="/blog"] {
    border-color: hsl(216, 30%, 42%);
  }
  .topbar ul li a[href^="/docs"] {
    border-color: hsl(192, 30%, 42%);
  }
  .topbar ul li a[href^="/api"] {
    border-color: hsl(160, 36%, 41%);
  }
  .topbar ul li a[href^="/source"] {
    border-color: hsl(96, 45%, 40%);
  }
  .topbar ul li a[href^="/tests"] {
    border-color: hsl(75, 66%, 34%);
  }

  .topbar ul li .lightstick {
    position: absolute;
    z-index: 0;
    width: 100%;
    bottom: 0;
    -webkit-transition: 0.8s ease-out;
       -moz-transition: 0.8s ease-out;
         -o-transition: 0.8s ease-out;
            transition: 0.8s ease-out;
  }
  .topbar ul li.indicated .lightstick,
  .topbar ul li.active    .lightstick {
    -webkit-transition: 0.2s ease-out;
       -moz-transition: 0.2s ease-out;
         -o-transition: 0.2s ease-out;
            transition: 0.2s ease-out;
  }
  .topbar ul li           .lightstick,
  .topbar ul li.indicated .lightstick,
  .topbar ul li.active    .lightstick {
    -webkit-transition-property: background-color, box-shadow;
       -moz-transition-property: background-color, box-shadow;
         -o-transition-property: background-color, box-shadow;
            transition-property: background-color, box-shadow;
  }
  .topbar ul li.indicated .lightstick {
    z-index: 1;
  }
  .topbar ul li.active .lightstick {
    z-index: 2;
  }
  .topbar ul li a + .lightstick {
    background:                hsla(  0,   0%, 50%, 0.6);
    box-shadow:       0 0 24px hsla(  0, 100%, 50%, 0),
                      0 0 12px hsla(  0, 100%, 50%, 0),
                inset 0 0  3px hsla(  0, 100%, 50%, 0);
  }
  .topbar ul li.indicated a + .lightstick {
    background:                hsla(  0,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(  0, 100%, 50%, 0.6),
                      0 0 12px hsla(  0, 100%, 50%, 0.8),
                inset 0 0  3px hsla(  0,  72%, 45%, 0.8);
  }
  .topbar ul li.active a + .lightstick {
    background:                hsla(  0, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(  0, 100%, 50%, 1),
                      0 0 24px hsla(  0, 100%, 50%, 1),
                      0 0 12px hsla(  0, 100%, 50%, 1),
                inset 0 0  3px hsla(  0, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/blog"] + .lightstick {
    background:                hsla(216,  46%, 48%, 0.6);
    box-shadow:       0 0 24px hsla(216, 100%, 50%, 0),
                      0 0 12px hsla(216, 100%, 50%, 0),
                inset 0 0  3px hsla(216, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/blog"] + .lightstick {
    background:                hsla(208, 100%, 80%, 0.97);
    box-shadow:       0 0 32px hsla(216, 100%, 63%, 0.7),
                      0 0 16px hsla(208, 100%, 55%, 0.9),
                inset 0 0  3px hsla(216,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/blog"] + .lightstick {
    background:                hsla(224, 100%, 97%, 0.98);
    box-shadow:       0 0 48px hsla(224, 100%, 80%, 1),
                      0 0 36px hsla(216, 100%, 70%, 1),
                      0 0 24px hsla(208, 100%, 60%, 1),
                      0 0 12px hsla(200, 100%, 50%, 1),
                inset 0 0  2px hsla(224, 100%, 50%, 0.5),
                inset 0 0  5px hsla(200, 100%, 50%, 0.5);
  }
  .topbar ul li a[href^="/docs"] + .lightstick {
    background:                hsla(192,  60%, 40%, 0.6);
    box-shadow:       0 0 24px hsla(192, 100%, 50%, 0),
                      0 0 12px hsla(192, 100%, 50%, 0),
                inset 0 0  3px hsla(192, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/docs"] + .lightstick {
    background:                hsla(192, 100%, 70%, 0.97);
    box-shadow:       0 0 24px hsla(192, 100%, 50%, 0.6),
                      0 0 12px hsla(192, 100%, 50%, 0.8),
                inset 0 0  3px hsla(192,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/docs"] + .lightstick {
    background:                hsla(192, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(192, 100%, 50%, 1),
                      0 0 24px hsla(192, 100%, 50%, 1),
                      0 0 12px hsla(192, 100%, 50%, 1),
                inset 0 0  3px hsla(192, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/api"] + .lightstick {
    background:                hsla(160,  66%, 40%, 0.6);
    box-shadow:       0 0 24px hsla(160, 100%, 50%, 0),
                      0 0 12px hsla(160, 100%, 50%, 0),
                inset 0 0  3px hsla(160, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/api"] + .lightstick {
    background:                hsla(160,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(160, 100%, 50%, 0.6),
                      0 0 12px hsla(160, 100%, 50%, 0.8),
                inset 0 0  3px hsla(160,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/api"] + .lightstick {
    background:                hsla(160, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(160, 100%, 50%, 1),
                      0 0 24px hsla(160, 100%, 50%, 1),
                      0 0 12px hsla(160, 100%, 50%, 1),
                inset 0 0  3px hsla(160, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/source"] + .lightstick {
    background:                hsla(96,  72%, 40%, 0.6);
    box-shadow:       0 0 24px hsla(96, 100%, 50%, 0),
                      0 0 12px hsla(96, 100%, 50%, 0),
                inset 0 0  3px hsla(96, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/source"] + .lightstick {
    background:                hsla(96,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(96, 100%, 50%, 0.6),
                      0 0 12px hsla(96, 100%, 50%, 0.8),
                inset 0 0  3px hsla(96,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/source"] + .lightstick {
    background:                hsla(96, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(96, 100%, 50%, 1),
                      0 0 24px hsla(96, 100%, 50%, 1),
                      0 0 12px hsla(96, 100%, 50%, 1),
                inset 0 0  3px hsla(96, 100%, 50%, 1);
  }
  .topbar ul li a[href^="/tests"] + .lightstick {
    background:                hsla(75,  90%, 34%, 0.6);
    box-shadow:       0 0 24px hsla(75, 100%, 50%, 0),
                      0 0 12px hsla(75, 100%, 50%, 0),
                inset 0 0  3px hsla(75, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href^="/tests"] + .lightstick {
    background:                hsla(75,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(75, 100%, 50%, 0.6),
                      0 0 12px hsla(75, 100%, 50%, 0.8),
                inset 0 0  3px hsla(75,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href^="/tests"] + .lightstick {
    background:                hsla(75, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(75, 100%, 50%, 1),
                      0 0 24px hsla(75, 100%, 50%, 1),
                      0 0 12px hsla(75, 100%, 50%, 1),
                inset 0 0  3px hsla(75, 100%, 50%, 1);
  }
  .topbar ul li a[href*="://github.com/"] + .lightstick {
    background:                hsla(58,  80%, 34%, 0.6);
    box-shadow:       0 0 24px hsla(58, 100%, 50%, 0),
                      0 0 12px hsla(58, 100%, 50%, 0),
                inset 0 0  3px hsla(58, 100%, 50%, 0);
  }
  .topbar ul li.indicated a[href*="://github.com/"] + .lightstick {
    background:                hsla(58,  90%, 60%, 0.97);
    box-shadow:       0 0 24px hsla(58, 100%, 50%, 0.6),
                      0 0 12px hsla(58, 100%, 50%, 0.8),
                inset 0 0  3px hsla(58,  72%, 45%, 0.8);
  }
  .topbar ul li.active a[href*="://github.com/"] + .lightstick {
    background:                hsla(58, 100%, 93%, 0.98);
    box-shadow:       0 0 36px hsla(58, 100%, 50%, 1),
                      0 0 24px hsla(58, 100%, 50%, 1),
                      0 0 12px hsla(58, 100%, 50%, 1),
                inset 0 0  3px hsla(58, 100%, 50%, 1);
  }

  .topbar ul li a[href*="://github.com/"] {
    width: 40px;
  }
  .topbar ul li a[href*="://github.com/"] span {
    position: relative;
    font-family: 'Octicons Regular';
  }
  .topbar ul li a[href*="://github.com/"] span.invertocat {
    left: 8px;
    top: -3px;
    font-size: 24px;
  }
  .topbar ul li a[href*="://github.com/"] span.external-link {
    top: -22px;
    left: 2px;
    font-size: 10px;
    opacity: 0.5;
  }


.controls {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  height: 36px;
  padding: 2px 4px 0 0;
  border-radius: 0 8px 0 0;
  background-color: rgba( 241, 241, 241, 0.67 );
  box-shadow: 0 8px 24px rgba( 0,0,0, 0.1 );
  -webkit-transition: 0.2s ease-out;
  -webkit-transition-property: background-color, box-shadow;
}
.controls:hover {
  background-color: rgba( 241, 241, 241, 0.9 );
  box-shadow: 0 8px 24px rgba( 0,0,0, 0.25 );
}
  .controls ul {
    float: left;
    margin: 0;
    list-style-type: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-out;
       -moz-transition: opacity 0.2s ease-out;
         -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
  }
  .controls:hover ul {
    opacity: 1.0;
  }
  .controls ul li {
    float: left;
    padding: 0;
    margin: 0;
  }
  .controls ul li a {
    float: left;
    width: 36px;
    height: 36px;
    background-image: url(/img/controls.png);
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-out;
       -moz-transition: opacity 0.2s ease-out;
         -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
  }
  .controls ul li a:hover {
    opacity: 0.95;
  }
  .controls ul li.active a {
    opacity: 0.9;
  }
  .controls ul li.active a:hover {
    opacity: 1.0;
  }
  .controls ul li.inactive a {
    opacity: 0.2;
  }
  .controls ul li.inactive a:hover {
    opacity: 0.9;
  }
  .controls ul li.disabled a {
    opacity: 0.1;
  }

  .controls ul.languages {
  }
    .controls ul.languages li.javascript a {
      background-position:    0px 0;
    }
    .controls ul.languages li.coffeescript a {
      background-position:  -36px 0;
    }

  .controls ul.switches {
    display: none;
    margin: 0 auto;
  }
    .controls ul.switches li.toggle-toc a {
      background-position:  -72px 0;
    }

  .controls ul.navigation {
    float: right;
  }
    .controls ul.navigation li.back a {
      background-position: -108px 0;
    }
    .controls ul.navigation li.forward a {
      background-position: -144px 0;
    }
    .controls ul.navigation li.reload a {
      background-position: -180px 0;
    }


.blocker {
  position: fixed;
  z-index: 1;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
     -moz-transition: opacity 0.2s ease-out;
       -o-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}
  body.modal.chrome-visible    .blocker,
  body.modal.chrome-revealing  .blocker {
    visibility: visible;
    opacity: 0.4;
  }
  body.modal.chrome-hiding     .blocker {
    visibility: visible;
    opacity: 0;
  }

.content {
  padding-top: 108px;
}
  .content .body {
    position: relative;
    width: 620px;
    left: 300px;
  }
  body.modal.chrome-visible    .content > .body {
    -webkit-filter: grayscale(0.9);
  }

  .content a.download {
    padding: 0.5em 1em 0.6em;
    margin-right: 1px;
    line-height: 3;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    border-bottom: 1px solid hsla(210, 30%, 42%, 0.35);
    border-radius: 1.5em 0 0 1.5em;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    font-size: 21px;
    font-weight: normal;
    color: hsl(210, 30%, 42%);
    background-image: -webkit-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    background-image:         linear-gradient(top, hsl(210, 10%, 95%), hsl(210, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(210, 13%, 57%, 0.3);
  }
  .content a.download[href$="min.js"] {
    border-radius: 0 1.5em 1.5em 0;
    padding-left: 0.8em;
  }
  .content a.download.secondary {
    font-size: 14px;
  }
  .content a.download:hover {
    color: hsl(210, 58%, 32%);
  }

  .content a[href^="/blog"],
  .content a[href^="/docs"],
  .content a[href^="/api"],
  .content a[href^="/source"],
  .content a[href^="/tests"],
  .content a[href*="://github.com/"] {
    padding: 0.05em  0.2em;
    margin: -0.05em -0.2em;
    border-radius: 0.25em;
  }
  .content blockquote a[href^="/blog"],
  .content blockquote a[href^="/docs"],
  .content blockquote a[href^="/api"],
  .content blockquote a[href^="/source"],
  .content blockquote a[href^="/tests"],
  .content blockquote a[href*="://github.com/"] {
    padding: 1px 10px 3px;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    border-bottom: 1px solid;
    border-radius: 14px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1), 0 1px 5px rgba(0,0,0,0.07);
    font-weight: 500;
    line-height: 2;
  }

  .content a[href^="/blog"] {
    color:             hsl(216, 30%, 42%);
    background-color: hsla(216, 30%, 42%, 0.01);
  }
  .content a[href^="/blog"]:hover {
    color:             hsl(216, 58%, 32%);
    background-color: hsla(216, 58%, 32%, 0.06);
  }
  .content blockquote a[href^="/blog"] {
    border-bottom-color: hsla(216, 30%, 42%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    background-image:         linear-gradient(top, hsl(216, 10%, 95%), hsl(216, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(216, 13%, 57%, 0.3);
  }

  .content a[href^="/docs"] {
    color:             hsl(192, 30%, 42%);
    background-color: hsla(192, 30%, 42%, 0.01);
  }
  .content a[href^="/docs"]:hover {
    color:             hsl(192, 58%, 32%);
    background-color: hsla(192, 58%, 32%, 0.06);
  }
  .content blockquote a[href^="/docs"] {
    border-bottom-color: hsla(192, 30%, 42%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    background-image:         linear-gradient(top, hsl(192, 10%, 95%), hsl(192, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(192, 13%, 57%, 0.3);
  }

  .content a[href^="/api"] {
    color:             hsl(160, 36%, 41%);
    background-color: hsla(160, 36%, 41%, 0.01);
  }
  .content a[href^="/api"]:hover {
    color:             hsl(160, 60%, 31%);
    background-color: hsla(160, 60%, 31%, 0.06);
  }
  .content blockquote a[href^="/api"] {
    border-bottom-color: hsla(160, 36%, 41%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:      -o-linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    background-image:         linear-gradient(top, hsl(160, 12%, 95%), hsl(160, 22%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(160, 15%, 57%, 0.3);
  }

  .content a[href^="/source"] {
    color:             hsl(96, 45%, 40%);
    background-color: hsla(96, 45%, 40%, 0.01);
  }
  .content a[href^="/source"]:hover {
    color:             hsl(96, 60%, 30%);
    background-color: hsla(96, 60%, 30%, 0.06);
  }
  .content blockquote a[href^="/source"] {
    border-bottom-color: hsla(96, 45%, 40%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:      -o-linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    background-image:         linear-gradient(top, hsl(96, 20%, 95%), hsl(96, 30%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(96, 23%, 57%, 0.3);
  }

  .content a[href^="/tests"] {
    color:             hsl(75, 66%, 34%);
    background-color: hsla(75, 66%, 31%, 0.01);
  }
  .content a[href^="/tests"]:hover {
    color:             hsl(75, 66%, 26%);
    background-color: hsla(75, 66%, 26%, 0.06);
  }
  .content blockquote a[href^="/tests"] {
    border-bottom-color: hsla(75, 66%, 34%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    background-image:         linear-gradient(top, hsl(75, 10%, 95%), hsl(75, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(75, 13%, 57%, 0.3);
  }

  .content a[href*="://github.com/"] {
    color:             hsl(58, 66%, 28%);
    background-color: hsla(58, 66%, 25%, 0.01);
  }
  .content a[href*="://github.com/"]:hover {
    color:             hsl(58, 66%, 20%);
    background-color: hsla(58, 66%, 20%, 0.06);
  }
  .content blockquote a[href*="://github.com/"] {
    border-bottom-color: hsla(75, 66%, 34%, 0.35);
    background-image: -webkit-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:    -moz-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:     -ms-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:      -o-linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    background-image:         linear-gradient(top, hsl(58, 10%, 95%), hsl(58, 20%, 90%));
    text-shadow: 0 1px 0px hsla(0, 100%, 100%, 0.75), 0 -1px 2px hsla(58, 13%, 57%, 0.3);
  }

  .content a[href^="/blog"] code,
  .content a[href^="/docs"] code,
  .content a[href^="/api"] code,
  .content a[href^="/source"] code,
  .content a[href^="/tests"] code,
  .content a[href*="://github.com/"] code {
    background: transparent;
    border: none;
    font-weight: bold;
    white-space: nowrap;
  }


.toc {
  position: fixed;
  visibility: visible;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 108px;
  bottom: 0;
  width: 280px;
  padding-top: 20px;
  padding-left: 1000px;
  margin-left: -1000px;
  background-color: #f1f1f1;
  background-image: url(/img/dust_f1c.png);
}
  body.api .toc {
    font-size: 18px;
  }

  .toc .bg,
  .toc .fg {
    position: absolute;
  }
  .toc .bg {
    z-index: 0;
  }
    .toc .bg .viewport {
      position: absolute;
      display: none;
      left: 8px;
      width: 258px;
      border: 1px solid rgba(0, 128, 255, 0.07);
      background-color: rgba(0, 128, 255, 0.07);
    }
  .toc .fg {
    z-index: 1;
    padding: 10px 0 36px;
    margin-right: 11px;
  }

  .toc .fg ul {
    list-style-type: none;
    margin-left: 20px;
  }
  .toc .fg ul li {
    line-height: 1.414213562373;
  }
  .toc .fg > ul ul {
    font-size: 95%;
    margin-left: 1em;
  }
  .toc .fg > ul ul a {
    font-size: 90%;
  }
  .toc .fg > ul ul ul ul a {
  }
  .toc .fg > ul > ul ul {
  }
  .toc .fg > ul > li {
    margin: 0 0 0.5em;
  }
  .toc .fg > ul ul li {
    margin: 0.333em 0;
  }
  .toc .fg ul li a {
    color: #00438A;
    line-height: 1.414213562373;
    line-height: 1.2;
  }
  .toc .fg ul li a:hover {
    color: #002245;
  }
  .toc::-webkit-scrollbar {
    width: 11px;
    height: 11px;
    opacity: 0;
  }
  .toc::-webkit-scrollbar-thumb {
    background-color: rgba( 0,0,0, 0.005 );
    border: 3px solid #f1f1f1;
    border-radius: 6px;
  }
  .toc::-webkit-scrollbar-track-piece {
    width: 7px;
    height: 7px;
    margin: 5px;
  }
  .toc:hover::-webkit-scrollbar-thumb {
    background-color: rgba( 0,0,0, 0.1 );
  }

.tags {
  margin-bottom: 1em;
  font-size: 13px;
}
.tags .tag {
  padding: 2px 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 12px;
  background: rgba(128, 128, 128, 0.25);
  font-weight: bold;
  color: rgba(64, 128, 192, 0.9);
}


.backcrumb {
  padding: 8px 16px;
  margin: 1em 0 4em;
  border: 1px solid transparent;
  border-radius: 0 0 16px 16px;
  background: rgba(128, 128, 128, 0.25);
}
.backcrumb > a.section {
  font-weight: bold;
}

.local-toc {
  border-radius: 16px;
  background: rgba(128, 128, 128, 0.15);
}
  .local-toc ul {
    padding: 1em 2em 1em 3em;
    margin: 0;
  }
    .local-toc ul li {
      font-weight: bold;
    }


footer {
  float: right;
  width: 640px;
  height: 36px;
  padding: 0;
  margin-top: 120px;
  font-size: 12px;
}
  footer ul {
    float: right;
    margin: 0;
    padding: 0 12px;
  }
  footer ul li {
    display: block;
    float: left;
    padding: 7px;
    margin: 0;
  }



/* sprites.less reset */
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}
li[class^="icon-"], li[class*=" icon-"] {
    display: block;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    -webkit-font-smoothing:antialiased;
    -moz-transition:color .15s ease-in 0;
    -webkit-transition:color .15s ease-in 0;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
    vertical-align: top;
    font-size: 1.3333333333333333em;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    /* keeps button heights with and without icons the same */
    line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
    /* 1.5 increased font size for icon-large * 1.25 width */
    width: 1.875em;
}


li[class^="icon-"], li[class*=" icon-"] {
    margin-left: 0;
    list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
    text-indent: -2em;
    text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
    text-indent: -1.3333333333333333em;
}

.icon-octocat:before               { content: "\f208"; }
.icon-site-message:before, .icon-blacktocat:before          { content: "\f209"; }
.icon-invertocat:before                 { content: "\f20a"; }
.icon-download:before            { content: "\f20b"; }
.icon-arr-collapsed:before          { content: "\f25a"; }
.icon-arr-expanded:before         { content: "\f25b"; }
.icon-link:before      { content: "\f25c"; }
.icon-jump-up:before           { content: "\f273"; }
.icon-chevron:before           { content: "\f278"; }
.icon-external-link:before           { content: "\f27f"; }
.icon-x:before      { content: "\f281"; }



body.index .content .body.markdown {
  left: 0;
  width: 640px;
  margin: 0 auto;
}
body.index .logo {
  width: 640px;
  height: 640px;
  margin: -120px auto -160px;
  background-image: url(/img/dodecagem-glow-640px.png);
  background-size: contain;
  background-repeat: no-repeat;
}
body.index p {
  font-size: 20px;
  line-height: 27px;
}
body.index pre {
  padding: 0.5em 0em 3em 30px;
  background: transparent;
  border: none;
  font-size: 13px;
  line-height: 19px;
}


body.blog .index {
}
body.blog .index .body {
  *left: 160px;
  *width: 640px;
}
body.blog .index .preview {
  padding: 20px 0;
}
body.blog .index .preview.first {

}
body.blog .index h2,
body.blog .index h3 {
  font-weight: 500;
}
body.blog .index .date {
  font-size: 12px;
}

body.blog .post {
}
body.blog .post h1 {
  font-weight: 300;
}
body.blog .post h2 {
  margin-top: 40px;
  font-weight: normal;
}
body.blog .post pre {
  padding-left: 30px;
  padding-right: 0;
  background: transparent;
  border: none;
}
body.blog .post .toc .fg > ul > li > a {
  font-weight: bold;
}
body.blog .post .tags {
  display: none;
}
body.blog .post .date {
  font-size: 88%;
  font-weight: 300;
}
body.blog .post .lede {
  margin: 40px 0 60px;
}
body.blog .post .lede p {
  font-size: 125%;
  line-height: 1.44;
}


body.source .controls ul.languages {
  display: none;
}
body.source .content .body {
  left: 0;
  width: auto;
}
body.source .text {
  width: 360px;
  min-height: 1px;
}
body.source .text p {
  font-size: 14px;
  line-height: 20px;
}
body.source .text a code {
  font-weight: bold;
}
body.source .text h3,
body.source .text h4,
body.source .text h5,
body.source .text h6 {
  margin: 0 0 0.25em;
}
body.source .text h3 {
  font-size: 21px;
}
body.source .text h3 code {
  font-size: 90%;
}
body.source .text h4 {
  font-size: 18px;
}
body.source .text h5 {
  font-size: 16px;
}
body.source .text h6 {
}

body.source .code {
  width: 560px;
}
body.source .code pre {
  padding: 12px 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  background: transparent;
  border: none;
  border-radius: 0;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {
  html {}
  .controls ul li a {
    background-image: url(/img/controls@2x.png);
    background-size: auto 100%;
  }
  body.index .logo {
    background-image: url(/img/dodecagem-glow-1280px.png);
  }
}

@media (max-width: 960px) {
  body.chrome-visible    .topbar {
  }
  body.chrome-hiding     .topbar {
    top: -102px;
    -webkit-transition: top 0.4s ease-out;
  }
  body.chrome-hidden     .topbar {
    top: -102px;
  }
  body.chrome-revealing  .topbar {
    -webkit-transition: top 0.4s ease-out;
  }

  .controls {
    left: 0;
    width: 100%;
    border-radius: 0;
    background-color: hsla(0, 0%, 95%, 0.8);
    box-shadow: 0px -5px 10px hsla(0, 0%, 25%, 0.1);
  }
    .controls ul.switches {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -18px;
    }
  body.chrome-visible    .controls {
  }
  body.chrome-hiding     .controls {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
  }
  body.chrome-hidden     .controls {
    visibility: hidden;
    opacity: 0;
  }
  body.chrome-revealing  .controls {
    -webkit-transition: opacity 0.4s ease-out;
  }

  body > .container,
  body > .topbar .container {
    width: 100%;
  }

  .content {
    overflow-x: hidden;
  }

  .toc {
    z-index: 1;
    opacity: 1;
    left: 50%;
    top: 120px;
    bottom: 0;
    padding: 10px 0;
    margin: 0 0 0 -140px;
    box-shadow: 0 8px 32px rgba(0,0,0, 0.5);
    -webkit-transition: opacity 0.4s ease-out;
  }
  .toc.hidden {
    visibility: hidden;
    opacity: 0;
  }
  .toc.hiding {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
  }
  .toc.touch-hidden {
    opacity: 0;
  }
    .toc .fg {
      padding: 0 0 36px;
    }

  body.chrome-visible    .toc.visible {
  }
  body                   .toc.hiding {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
  }
  body                   .toc.hidden {
    visibility: hidden;
    opacity: 0;
  }
  body.chrome-visible    .toc.revealing {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-out;
  }
  body.chrome-hiding     .toc {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
  }
  body.chrome-hidden     .toc {
    visibility: hidden;
    opacity: 0;
  }
  body.chrome-revealing  .toc.visible,
  body.chrome-revealing  .toc.revealing {
    -webkit-transition: opacity 0.4s ease-out;
  }

  .content .body {
    left: 0;
    width: inherit;
    max-width: 640px;
    padding: 0 20px;
    margin: 0 auto;
  }

  footer {
    width: 100%;
    padding-bottom: 36px;
    margin-top: 60px;
  }

  body.index .content .body.markdown {
    left: 0;
    width: auto;
    padding: 0 20px;
  }

  body.blog .index .content .body.markdown {
    left: 0;
    width: auto;
  }

  body.blog .post pre {
    padding-left: 12px;
  }

}

@media (max-width: 800px) {
  .topbar {
    height: 79px;
  }
  body.chrome-hiding .topbar,
  body.chrome-hidden .topbar {
    top: -73px;
  }
    .topbar .fill {
      height: 72px;
    }
    .topbar .fill .bg {
      height: 72px;
    }
    .topbar a.brand {
      max-height: 40px;
      font-size: 40px;
      padding: 27px 12px 12px;
    }
    .topbar ul.nav {
      margin: 0;
    }
    .topbar ul li a {
      max-height: 16px;
      min-width: 30px;
      padding: 48px 9px 15px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }
    .topbar ul li a[href*="://github.com/"] {
      width: auto;
    }
    .topbar ul li a[href*="://github.com/"] span.invertocat {
      left: 0px;
      top: -3px;
      font-size: 24px;
    }
    .topbar ul li a[href*="://github.com/"] span.external-link {
      display: none;
    }
  .content {
    padding-top: 88px;
  }
  .toc {
    top: 91px;
  }
  footer {
    font-size: 11px;
  }
    footer ul {
      padding: 0;
    }
    footer p,
    footer ul li {
      font-size: inherit;
      padding: 4px;
    }

  body.index .logo {
    width: 440px;
    height: 440px;
    margin: -108px auto;
  }
  body.index p {
    font-size: 18px;
    line-height: 24px;
  }
  body.index pre {
    padding: 0.5em 0em 3em 6px;
    background: transparent;
    border: none;
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 720px) {
  body, p {
    font-size: 15px;
    line-height: 21px;
  }
  h1 { font-size: 36px; }
  h2 { font-size: 28px; }
  h3 { font-size: 22px; }
  h4 { font-size: 19px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }
  h1, h2, h3, h4, h5, h6 { line-height: 1.25em; }
  p,
  li {
    font-size: 14px;
    line-height: 20px;
  }
  pre {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 600px) {
  body, p {
    font-size: 14px;
    line-height: 20px;
  }
  h1 { font-size: 32px; }
  h2 { font-size: 25px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 15px; }
  h6 { font-size: 13px; }
  h1, h2, h3, h4, h5, h6 { line-height: 1.25em; }
  p,
  li {
    font-size: 13px;
    line-height: 19px;
  }
  pre {
    font-size: 11px;
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  body, p, li {
    font-size: 13px;
    line-height: 18px;
  }
  h1 { font-size: 28px; }
  h2 { font-size: 22px; }
  h3 { font-size: 18px; }
  h4 { font-size: 16px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }
  h1, h2, h3, h4, h5, h6 { line-height: 1.25em; }
  pre {
    font-size: 10px;
    line-height: 14px;
    background: transparent;
    border: none;
    padding: 0.75em 0 0.75em 0.5em;
    margin-right: -6px;
  }
  .topbar {
    height: 51px;
  }
  body.chrome-hiding .topbar,
  body.chrome-hidden .topbar {
    top: -45px;
  }
    .topbar .fill {
      height: 44px;
    }
    .topbar .fill .bg {
      height: 44px;
    }
    .topbar a.brand {
      max-height: 30px;
      font-size: 30px;
      padding: 12px 9px 9px;
    }
    .topbar ul.nav {
      margin: 0;
    }
    .topbar ul li a {
      max-height: 14px;
      min-width: 28px;
      padding: 22px 9px 15px;
      font-size: 14px;
      line-height: 20px;
    }
    .topbar ul li a[href*="://github.com/"] {
      width: auto;
    }
    .topbar ul li a[href*="://github.com/"] span.invertocat {
      left: 0px;
      top: -2px;
      font-size: 16px;
    }
    .topbar ul li a[href*="://github.com/"] span.external-link {
      display: none;
    }
  .toc {
    top: 63px;
    width: 256px;
    margin-left: -128px;
  }
    .toc .bg .viewport {
      width: 230px;
    }
  .content {
    padding-top: 56px;
  }
    .content > .body.markdown {
      padding: 0 10px;
    }
    .content a.download {
      font-size: 15px;
    }
    .content a.download.secondary {
      font-size: 12px;
    }
  footer {
    font-size: 9px;
  }

  body.index .content > .body.markdown {
    padding: 0 10px;
  }
  body.index .logo {
    width: 300px;
    height: 300px;
    margin: -60px auto;
  }
  body.index p {
    font-size: 13px;
    line-height: 18px;
  }
  body.index pre {
    padding: 0.5em 0em 3em 6px;
    background: transparent;
    border: none;
    font-size: 10px;
    line-height: 14px;
  }

  body.blog .post pre {
    padding-left: 18px;
  }
}

@media (max-width: 400px) {
  body, p, li {
    font-size: 12px;
    line-height: 18px;
  }
  pre {
    font-size: 8px;
    line-height: 11px;
    padding: 0.75em 0;
  }
  .topbar ul li a {
    max-height: 9px;
    min-width: 22px;
    padding: 27px 6px 15px;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
  }
  footer {
    font-size: 10px;
  }
    footer .copyright {
      display: none;
    }
  body.index pre {
    padding-left: 6px;
  }
}


/* pygments */
.hll { background-color: #ffffcc }
.c   { color: #408080; font-style: italic } /* Comment */
.err { border: 1px none #FF0000 }           /* Error */
.k   { color: #192E9E; font-weight: bold }  /* Keyword */
.o   { color: #3333AA; font-weight: bold }  /* Operator */
.p   { color: #30455A; font-weight: bold }  /* Punctuation */
.cm  { color: #558585; font-style: italic } /* Comment.Multiline */
.cp  { color: #BC7A00 }                     /* Comment.Preproc */
.c1  { color: #658585; font-style: italic } /* Comment.Single */
.cs  { color: #408080; font-style: italic } /* Comment.Special */
.gd  { color: #A00000 }                     /* Generic.Deleted */
.ge  { font-style: italic }                 /* Generic.Emph */
.gr  { color: #FF0000 }                     /* Generic.Error */
.gh  { color: #000080; font-weight: bold }  /* Generic.Heading */
.gi  { color: #00A000 }                     /* Generic.Inserted */
.go  { color: #808080 }                     /* Generic.Output */
.gp  { color: #000080; font-weight: bold }  /* Generic.Prompt */
.gs  { font-weight: bold }                  /* Generic.Strong */
.gu  { color: #800080; font-weight: bold }  /* Generic.Subheading */
.gt  { color: #0040D0 }                     /* Generic.Traceback */
.kc  { color: #4256EB; font-weight: bold }  /* Keyword.Constant */
.kd  { color: #0B50E0; font-weight: bold }  /* Keyword.Declaration */
.kn  { color: #954121; font-weight: bold }  /* Keyword.Namespace */
.kp  { color: #954121 }                     /* Keyword.Pseudo */
.kr  { color: #954121; font-weight: bold }  /* Keyword.Reserved */
.kt  { color: #B00040 }                     /* Keyword.Type */
.na  { color: #7D9029 }                     /* Name.Attribute */
.nb  { color: #218997; font-weight: bold }  /* Name.Builtin */
.nc  { color: #0000FF; font-weight: bold }  /* Name.Class */
.no  { color: #880000 }                     /* Name.Constant */
.nd  { color: #AA22FF }                     /* Name.Decorator */
.ni  { color: #999999; font-weight: bold }  /* Name.Entity */
.ne  { color: #D2413A; font-weight: bold }  /* Name.Exception */
.nf  { color: #0000AA; font-weight: bold }  /* Name.Function */
.nl  { color: #A0A000 }                     /* Name.Label */
.nn  { color: #0000FF; font-weight: bold }  /* Name.Namespace */
.nt  { color: #954121; font-weight: bold }  /* Name.Tag */
.nv  { color: #19469D }                     /* Name.Variable */
.ow  { color: #AA22FF; font-weight: bold }  /* Operator.Word */
.w   { color: #bbbbbb }                     /* Text.Whitespace */
.m   { color: #666666 }                     /* Literal.Number */
.mf  { color: #730D2F; font-weight: bold }  /* Literal.Number.Float */
.mh  { color: #730D2F; font-weight: bold }  /* Literal.Number.Hex */
.mi  { color: #730D2F; font-weight: bold }  /* Literal.Number.Integer */
.mo  { color: #730D2F; font-weight: bold }  /* Literal.Number.Oct */
.s   { color: #219161 }                     /* Literal.String */
.s1  { color: #299306 }                     /* Literal.String.Single */
.s2  { color: #1C7D24 }                     /* Literal.String.Double */
.sb  { color: #219161 }                     /* Literal.String.Backtick */
.sc  { color: #219161 }                     /* Literal.String.Char */
.sd  { color: #219161; font-style: italic } /* Literal.String.Doc */
.se  { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
.sh  { color: #219161 }                     /* Literal.String.Heredoc */
.si  { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
.sx  { color: #954121 }                     /* Literal.String.Other */
.sr  { color: #BB6688 }                     /* Literal.String.Regex */
.ss  { color: #19469D }                     /* Literal.String.Symbol */
.bp  { color: #954121 }                     /* Name.Builtin.Pseudo */
.vc  { color: #19469D }                     /* Name.Variable.Class */
.vg  { color: #19469D }                     /* Name.Variable.Global */
.vi  { color: #19469D }                     /* Name.Variable.Instance */
.il  { color: #666666 }                     /* Literal.Number.Integer.Long */

.s1 {
  text-shadow: 0 0 1px hsla(105, 92%, 30%, 0.4);
  background-color:    hsla(105, 92%, 30%, 0.02);
  padding: 2px 0 0;
}