$hero-height: 108px;

$h-font-sizes     : 40px, 30px, 24px, 20px, 18px, 16px;
$h-line-heights   : 48px, 44px, 40px, 35px, 32px, 23px;
$h-margins-top    : 60px, 15px, 30px, 25px, 22px, 20px;
$h-margins-bottom : 20px, 15px,  8px,  7px,  6px,  5px;
