<ul>
  <li><a href="#installation">Installation</a></li>
  <li><a href="#getting-started">Getting started</a></li>
  <ul>
    <li><a href="#getting-started--the-state-function">The <code>state</code> function</a></li>
    <li><a href="#getting-started--building-a-state-expression">Building a state expression</a></li>
    <li><a href="#getting-started--accesssing-an-objects-state">Accessing an object’s state</a></li>
    <li><a href="#getting-started--transitioning-between-states">Transitioning between states</a></li>
    <li><a href="#getting-started--bringing-everything-together">Bringing everything together</a></li>
  </ul>
  <li><a href="#overview">Overview</a></li>
  <li><a href="#concepts">Concepts</a></li>
  <ul>
    <li><a href="#concepts--expressions">Expressions</a></li>
    <ul>
      <li><a href="#concepts--expressions--structured">Structured state expressions</a></li>
      <li><a href="#concepts--expressions--shorthand">Shorthand</a></li>
      <li><a href="#concepts--expressions--interpreting-expression-input">Interpreting expression input</a></li>
    </ul>
    <li><a href="#concepts--inheritance">Inheritance</a></li>
    <ul>
      <li><a href="#concepts--inheritance--the-root-state">The root state</a></li>
      <li><a href="#concepts--inheritance--superstates-and-substates">Superstates and substates</a></li>
      <li><a href="#concepts--inheritance--protostates">Protostates</a></li>
    </ul>
    <li><a href="#concepts--selectors">Selectors</a></li>
    <li><a href="#concepts--attributes">Attributes</a></li>
    <ul>
      <li><a href="#concepts--attributes--mutability">Mutability</a></li>
      <li><a href="#concepts--attributes--abstraction">Abstraction</a></li>
      <li><a href="#concepts--attributes--destination">Destination</a></li>
      <li><a href="#concepts--attributes--idioms">Idioms</a></li>
    </ul>
    <li><a href="#concepts--data">Data</a></li>
    <li><a href="#concepts--methods">Methods</a></li>
    <ul>
      <li><a href="#concepts--methods--delegators">Delegator methods</a></li>
      <li><a href="#concepts--methods--context">Method context</a></li>
      <li><a href="#concepts--methods--nonexistent">Nonexistent methods</a></li>
    </ul>
    <li><a href="#concepts--transitions">Transitions</a></li>
    <ul>
      <li><a href="#concepts--transitions--expressions">Transition expressions</a></li>
      <li><a href="#concepts--transitions--lifecycle">The transition lifecycle</a></li>
      <li><a href="#concepts--transitions--aborted">Aborted transitions</a></li>
    </ul>
    <li><a href="#concepts--events">Events</a></li>
    <ul>
      <li><a href="#concepts--events--existential">Existential events</a></li>
      <li><a href="#concepts--events--transitional">Transitional events</a></li>
      <li><a href="#concepts--events--mutation">Mutation events</a></li>
      <li><a href="#concepts--events--custom">Custom event types</a></li>
    </ul>
    <li><a href="#concepts--guards">Guards</a></li>
    <ul>
      <li><a href="#concepts--guards--state-guards">State guards</a></li>
      <li><a href="#concepts--guards--transition-guards">Transition guards</a></li>
    </ul>
  </ul>
  <li><a href="#about">About this project</a></li>
</ul>
