<script>
    O.env.debug = true;
</script>

<script src="qunit.js"></script>

<!-- tests -->
<script src="unit/TestObject.test.js"></script>
<script src="unit/state-expression.test.js"></script>

<script src="unit/state/core.test.js"></script>
<script src="unit/state/virtualization.test.js"></script>
<script src="unit/state/expression.test.js"></script>
<script src="unit/state/mutation.test.js"></script>
<script src="unit/state/attributes.test.js"></script>
<script src="unit/state/model.test.js"></script>
<script src="unit/state/query.test.js"></script>
<script src="unit/state/data.test.js"></script>
<script src="unit/state/methods.test.js"></script>
<script src="unit/state/guards.test.js"></script>

<script src="unit/state-controller.test.js"></script>
<script src="unit/state-event.test.js"></script>
<script src="unit/TextDocument.test.js"></script>
