<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default-manual.css">
    <link rel="stylesheet" href="/css/pygments.css">
    {% if page.section == 'tests' %}
    <link rel="stylesheet" media="screen" href="qunit.css" />
    {% endif %}

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="{{ site.meta.author.full_name }}">
    <link href="/atom.xml" rel="alternate" title="{{ site.meta.site_title }} (Atom)" type="application/atom+xml" />
    <link href="/rss.xml" rel="alternate" title="{{ site.meta.site_title }} (RSS)" type="application/rss+xml" />

    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16px.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32px.png"/>

    <noscript><style> .highlight pre { display: block; } </style></noscript>
  </head>
  <body>
    <div class="topbar">
      <div class="edge">
        <div class="lightstick"></div>
      </div>
      <div class="fill">
        <div class="bg"></div>
        <div class="fg">
          <div class="container">
            <a class="brand" href="/">state<span class="tail">js</span></a>
            <ul class="nav">
              <li{% if page.section == 'blog' %} class="active"{% endif %}>
                <a href="/blog/">blog</a>
                <div class="lightstick"></div>
              </li>
              <li{% if page.section == 'docs' %} class="active"{% endif %}>
                <a href="/docs/">docs</a>
                <div class="lightstick"></div>
              </li>
              <li{% if page.section == 'api' %} class="active"{% endif %}>
                <a href="/api/">api</a>
                <div class="lightstick"></div>
              </li>
              <li{% if page.section == 'source' %} class="active"{% endif %}>
                <a href="/source/">source</a>
                <div class="lightstick"></div>
              </li>
              <li{% if page.section == 'tests' %} class="active"{% endif %}>
                <a href="/tests/">tests</a>
                <div class="lightstick"></div>
              </li>
              <li>
                <a href="https://github.com/nickfargo/state" target="_blank">
                  <span class="invertocat">&#xf20a;</span>
                  <span class="external-link">&#xf07f;</span>
                </a>
                <div class="lightstick"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <ul>
          <li><strong>state.js</strong>  v{{ site.packages.state.version }}</li>
          <li><a href="http://github.com/nickfargo/state/blob/master/LICENSE">License MIT</a></li>
          <li>&copy; 2011-2012 {{ site.meta.author.full_name }}</li>
          <li><a href="http://github.com/nickfargo"><span class="icon-blacktocat" style="line-height: 1"></span>/nickfargo</a></li>
          <li><a href="http://twitter.com/nickfargo">@nickfargo</a></li>
          <li>&#x1f44b;</li>
        </ul>
      </footer>
    </div>

    <section id="javascript">
      <script src="//statejs.org/omicron.js"></script>
      <script src="//statejs.org/state.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script src="/js/ui.js"></script>

      {% if page.section == 'tests' %}
      {% include content/tests/scripts.html %}
      {% endif %}
    </section>
  </body>
</html>