---
layout: default
section: blog
---
<div class="post">
  <div class="toc">
    <div class="bg"></div>
    <div class="fg"></div>
  </div>

  <div class="body markdown">
    <h1 id="title">{{ page.title }}</h1>

    <div class="date">
      {{ page.date | date: "%B %d, %Y" }}
    </div>
    <div class="tags">
      {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="lede">
      {{ page.lede | markdownify }}
    </div>

    <hr/>

    {{ content }}
  </div>
</div>